@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    padding-top: 5rem;
    flex: 1;
}

.btn {
    text-transform: unset;
}
